@tailwind base;
@tailwind components;
@tailwind utilities;

:focus-visible {
  outline-color: currentColor;
  outline-offset: 0.25rem;
}

::selection {
  @apply bg-highlight;
  @apply bg-opacity-60;
  @apply text-main-strong;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: theme(height.header-mobile);
}

@screen md {
  html {
    scroll-padding-top: 0;
  }
}
